$white: #fff;
$darkBlue: #002060;
$darkGrey: #414141;
$lightGrey: #bfbfbf;
$lightGreen: #a9d18e;
$maroon: #ad0000;
$red: #c20505;
$primary-font: "Roboto", sans-serif;
$lighterGrey: #bfbfbf6e;
$black: #000000;

$darkPrimaryBackground: $black;
$darkPrimaryForeground: $white;
$darkPrimaryBorder: orange;
$darkPrimaryButton: orange;
