.resultRow {
  display: flex;
}

ul.sessionList {
  display: flex;
}

.sessionItems {
  margin: 0 0.3em;
  .slotUI-empty {
    width: 100px;
    background-color: grey;
  }
}

.resultDataList {
  height: 500px;
  overflow-y: scroll;
}
