.main-heading {
  text-align: center;
  padding: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 8em;
}

main.dark {
  background-color: black;
  color: white;
  border-color: orange;
}

/*Tablet and mobile landscape*/
@media only screen and (max-device-width: 1024px) {
  main {
    padding: 0 1em;
  }
}
