.searchFilter-item {
  padding: 0.5em;
}

.calenderDateItem {
  display: inline-block;
  padding: 1em;
}

.calenderSlider {
  display: flex;
}

.searchFilter {
  padding: 1em;
}

.centerDataItem {
  padding: 1em;
}

.sessionList {
  list-style: none;
}
